
// font///
$basefont: 'Cabin', sans-serif;

// project color//
$color-primary: #2d2023;
$color-secondary: #757580;
$color-red: #f93c64;
$color-red2: #e0365a;
$color-red3: #fc9db1;
$color-red4: #feebef;
$color-white: #ffffff;
$color-gray: #f9f9f9;
$color-gray2: #e5e5e5;
$color-gray3: #aaaaaa;
$color-gray4: #ebebeb;
$color-gray5: #f5f5f5;
$color-gray6: #e2e2e2;
$color-gray7: #f7f7f7;
$color-gray8: #e4e4e4;
$color-gray9: #919191;
$color-gray10: #f2f2f2;
$color-yellow: #fbc531;
$color-green: #4cd137;
$color-yellowgreen: #badc58;
$color-deepgreen: #1dd1a1;
$color-blue: #9485bb;
$color-blue2: #44356f;
$color-purple: #1d1551;



$color-black: #000000;
$color-red5: #fa5e59;


