/*
|----------------------------------------------------------------------------
| General
|----------------------------------------------------------------------------
*/

@import './partial/variables';
@import './partial/mixins';
body,html {
    margin: 0px;
}
body {
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $basefont;
  color: $color-secondary;
  overflow-x: hidden !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
 
h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
h2 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
p {
  font-family: $basefont;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-secondary;
}
a {
  font-family: $basefont;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $color-primary;
}
.common-padding {
    padding-top: 110px;
    padding-bottom: 80px;
}
.common-padding-two {
    padding-top: 110px;
    padding-bottom: 80px;
}
.padding-tb110 {
    padding-top: 110px;
    padding-bottom: 110px;
}
.padding-b80 {
    padding-bottom: 80px;
}
.bg-gray {
    background: #f9f9f9;
}
button:focus {
    outline: none !important
}
.section-heading {
    margin-bottom: 40px;
    h3.title {
        font-family: $basefont;
        font-size: 30px;
        font-weight: 600;
        line-height: 24px;
        color: $color-primary;
        margin-bottom: 30px;
    }
    p.sub-title {
        font-family: $basefont;
        color: $color-secondary;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
    }
    &.text-white {
        h3.title {
            color: $color-white;
        }
        p.sub-title {
            color: $color-white;
        }
    }
} 
// margin
.mrg-r10 {
    margin-right: 10px;
}

// button
.btn-primary {
  font-family: $basefont;
  font-weight: 400;
  font-size: 14px;
  background: $color-red;
  color: $color-white !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 3px;
  border: 0;
  &:hover {
    background: $color-red2;
  }
}
.btn-red-opacity {
    display: block;
    width: 100%;
    height: 50px;
    font-family: $basefont;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    background: rgba($color-red, 0.1);
    color: $color-red;
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
    }
}

.modal-backdrop{
    background: rgba(0,0,0,.4);
    >.show{
        opacity: .3;
    }
}
.modal-content{
    border: none;
}

/* Feel free to change duration  */ 
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}



/*
|----------------------------------------------------------------------------
| Global styles
|----------------------------------------------------------------------------
*/

.lg-inner-page {
  background: $color-gray;
  position: relative;
}
.default-padding-inner {
    padding-top: 65px;
    padding-bottom: 100px;
}

.padding-120 {
    padding: 120px 0;
}

.padding-bottom-120 {
    padding-bottom: 120px;
}
.padding-top-120 {
    padding-top: 120px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

/*
|----------------------------------------------------------------------------
| LG filter category
|----------------------------------------------------------------------------
*/
// category filter
.select2-container--lg-filter-category {
    width: 150px !important;
    .select2-search__field {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-right: 15px;
        &:focus {
            outline: none;
        }
    }
    .select2-dropdown {
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
    }
    .select2-results__options {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 220px;
        .select2-results__option {
            padding: 5px 20px !important;
            font-family: $basefont;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $color-secondary;
            @include transition(all, .3s, ease);
            &:hover {
                color: $color-red;
            }
        }
    }
    .select2-selection--single {
        outline: none;
    }
    .select2-selection__rendered {
        position: relative;
        border: 1px solid $color-gray2;
        background: $color-gray;
        line-height: 36px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $basefont;
        font-size: 14px;
        padding-left: 35px !important;
        color: $color-secondary;
        border-radius: 3px;
        @include transition(all, .3s, ease);
        &:before {
            content: '\f26d';
            display: block;
            font-family: LineAwesome;
            display: inline-block;
            margin-right: 10px;
            font-size: 18px;
            color: $color-secondary;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            @include transition(all, .3s, ease);
        }
        .select2-selection__clear {
            display: none;
        }
    }
    .select2-selection--single {
        height: auto !important;
    }
    &.select2-container--open {
        .select2-selection__rendered {
            color: $color-red;
            background: $color-red4;
            border-color: $color-red3;
            &::before {
                color: $color-red;
            }
        } 
    }
}
// Post Order Filter
.select2-container--lg-post-order-filter {
    width: 100px !important;
    .select2-search__field {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-right: 15px;
        &:focus {
            outline: none;
        }
    }
    .select2-dropdown {
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
    }
    .select2-results__options {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 220px;
        .select2-results__option {
            padding: 5px 20px !important;
            font-family: $basefont;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $color-secondary;
            @include transition(all, .3s, ease);
            &:hover {
                color: $color-red;
            }
        }
    }
    .select2-selection--single {
        outline: none;
    }
    .select2-selection__rendered {
        position: relative;
        border: 1px solid $color-gray2;
        background: $color-gray;
        line-height: 36px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $basefont;
        font-size: 14px;
        color: $color-secondary;
        border-radius: 3px;
        @include transition(all, .3s, ease);
        .select2-selection__clear {
            display: none;
		}
		&:before {
            content: '\f107';
            display: block;
            font-family: FontAwesome;
            display: inline-block;
            font-size: 18px;
            color: $color-secondary;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            @include transition(all, .3s, ease);
        }
    }
    .select2-selection--single {
        height: auto !important;
    }
    &.select2-container--open {
        .select2-selection__rendered {
            color: $color-red;
            background: $color-red4;
            border-color: $color-red3;
            &::before {
                color: $color-red;
            }
        } 
    }
}
// Post Price Status
.select2-container--lg-price-status {
    width: 70px !important;
    .select2-search__field {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-right: 15px;
        &:focus {
            outline: none;
        }
    }
    .select2-dropdown {
        width: 150px !important;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
    }
    .select2-results__options {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 220px;
        .select2-results__option {
            padding: 5px 20px !important;
            font-family: $basefont;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $color-secondary;
            @include transition(all, .3s, ease);
            &:hover {
                color: $color-red;
            }
        }
    }
    .select2-selection--single {
        outline: none;
    }
    .select2-selection__rendered {
        position: relative;
        border: 1px solid $color-gray2;
        background: $color-gray;
        line-height: 36px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $basefont;
        font-size: 14px;
        color: $color-secondary;
        padding-left: 10px !important;
        border-radius: 3px;
        @include transition(all, .3s, ease);
        .select2-selection__clear {
            display: none;
		}
		&:before {
            content: '\f107';
            display: block;
            font-family: FontAwesome;
            display: inline-block;
            font-size: 18px;
            color: $color-secondary;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            @include transition(all, .3s, ease);
        }
    }
    .select2-selection--single {
        height: auto !important;
    }
    &.select2-container--open {
        .select2-selection__rendered {
            color: $color-red;
            background: $color-red4;
            border-color: $color-red3;
            &::before {
                color: $color-red;
            }
        } 
    }
}

// filter by border
.select2-container--lg-post-filter-by-order {
    width: 100px !important;
    .select2-search__field {
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-right: 15px;
        &:focus {
            outline: none;
        }
    }
    .select2-dropdown {
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
    }
    .select2-results__options {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 220px;
        .select2-results__option {
            padding: 5px 20px !important;
            font-family: $basefont;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $color-secondary;
            @include transition(all, .3s, ease);
            &:hover {
                color: $color-red;
            }
        }
    }
    .select2-selection--single {
        outline: none;
    }
    .select2-selection__rendered {
        position: relative;
        border: 1px solid $color-gray2;
        background: $color-gray;
        line-height: 36px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $basefont;
        font-size: 14px;
        color: $color-secondary;
        border-radius: 3px;
        @include transition(all, .3s, ease);
        .select2-selection__clear {
            display: none;
		}
		&:before {
            content: '\f107';
            display: block;
            font-family: FontAwesome;
            display: inline-block;
            font-size: 18px;
            color: $color-secondary;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            @include transition(all, .3s, ease);
        }
    }
    .select2-selection--single {
        height: auto !important;
    }
    &.select2-container--open {
        .select2-selection__rendered {
            color: $color-red;
            background: $color-red4;
            border-color: $color-red3;
            &::before {
                color: $color-red;
            }
        } 
    }
}

//partner section

.partner-slider-block{
    padding: 95px 0;
    border-top: 1px solid $color-gray2;
    .slick-slider{
        padding: 0 50px;
        img{
            margin: 0 auto;
        }
    }
    .slick-dots{
        display: none !important;
    }

}
.partner-style-two{
    .lg-inner-page{
        background: $color-white;
    }
}

@media all and (max-width: 991px) {
    .partner-slider-block{
        .slick-slider{
            padding: 0;
        }
    }
}

//testimonial slider
.testimonial-block{
    h3{
        color: $color-primary;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 35px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
    }
}
.testimonial-author{
    display: flex;
    align-items: center;
    .thumb-block{
        margin-right: 10px;
        img{
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
    .info-block{

        h4{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $color-primary;
            margin-bottom: 2px;
        }
        span{
            color: $color-red;
        }
    }
}
.testimonial-block-wrap{
    position: relative;
    &:before{
        position: absolute;
        right: -10px;
        top: 0;
        content: "\f2ce";
        font-family: "LineAwesome";
        font-size: 60px;
        color: rgba(249,60,100,0.5);
    }
    .slick-dots{
        display: none !important;
    }
    .slick-arrow{
        top: auto;
        bottom: 10%;
        z-index: 99;
        &:hover{
            &:before{
                color: #8f8f98;
            }
        }
        &:before{
            font-family: "LineAwesome";
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            font-size: 40px;
            color: #c4c4c9;
            cursor: pointer;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
        }
}
    .slick-prev{
        left: auto;
        right: 80px;
        &:before{
            content: "\f120";
        }
    }
    .slick-next{
        right: 15px;
        &:before{
            content: "\f121";
        }
    }
}


/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
    /* start state */
    .mfp-with-anim {
      opacity: 0;
      transition: all 0.2s ease-in-out; 
      transform: scale(0.8); 
    }
    
    &.mfp-bg {
      opacity: 0;
        transition: all 0.3s ease-out;
    }
    
    /* animate in */
    &.mfp-ready {
      .mfp-with-anim {
        opacity: 1;
        transform: scale(1); 
      }
      &.mfp-bg {
        opacity: 0.8;
      }
    }
    
    /* animate out */
    &.mfp-removing {
      
      .mfp-with-anim {
        transform: scale(0.8); 
        opacity: 0;
      }
      &.mfp-bg {
        opacity: 0;
      }
      
    }
    
  }
