
/*
|----------------------------------------------------------------------------
| Footer
|----------------------------------------------------------------------------
*/
@import './partial/variables';
@import './partial/mixins';
.footer-bg {
	background: url('/static/images/bg/footer-bg.jpg') no-repeat center;
	background-size: cover;
}

.footer-widget {
	margin-bottom: 40px;
	h5 {
		color: $color-white;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 27px;
	}
	&.footer-widget-contact {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				color: $color-blue;
				font-size: 14px;
				margin-bottom: 18px;
				position: relative;
				padding-left: 30px;
				line-height: 1.7;
				&:before {
					position: absolute;
					top: 2px;
					left: 0;
				}
				&:first-child {
					&:before {
						content: url('/static/images/icons/pin.png');
					}
				}
				&:nth-child(2) {
					&:before {
						content: url('/static/images/icons/message.png');
					}
				}
				&:last-child {
					margin-bottom: 0;
					&:before {
						content: url('/static/images/icons/phone.png');
					}
				}
			}
		}
	}
	&.footer-widget-links {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				color: $color-blue;
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					color: inherit;
					text-decoration: none;
					transition: all .3s ease;
					&:hover {
						color: $color-white;
					}
				}
			}
		}
	}
	&.footer-widget-app {
		.app-links {
			a {
				border-radius: 5px;
				border: 2px solid rgba($color-white, .1);
				display: inline-block;
				padding: 10px 20px;
				padding-left: 45px;
				margin-bottom: 10px;
				color: $color-white;
				text-decoration: none;
				margin-right: 15px;
				position: relative;
				transition: all .3s ease;
				&:hover {
					color: $color-red;
				}
				&:before {
					position: absolute;
					top: 10px;
					left: 15px;
				}
				&.apple {
					&:before {
						content: url('/static/images/icons/apple.png');
					}
				}
				&.google {
					margin-right: 0;
					&:before {
						content: url('/static/images/icons/google.png');
					}
				}
			}
		}
		.social-links {
			margin-top: 40px;
			a {
				margin-right: 30px;
				margin-top: 10px;
				opacity: .4;
				transition: all .3s ease;
				&:hover {
					opacity: 1;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	p {
		margin-bottom: 0;
		color: $color-blue;
		a {
			color: inherit;
			text-decoration: none;
			transition: all .3s ease;
			&:hover {
				color: $color-white;
			}
		}
		span {
			margin-left: 20px;
			padding-left: 20px;
			position: relative;
			&:before {
				position: absolute;
				top: 2px;
				left: 0;
				height: 14px;
				width: 2px;
				background: $color-blue;
				content: '';
			}
		}
	}
	.backtotop {
		color: $color-blue;
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			color: $color-white;
		}
		span {
			margin-right: 10px;
		}
	}
}

//footer-two-style
.padding-top-120 {
	padding-top: 120px;
}

.footer-top {
	padding-bottom: 50px;
	.footer-content {
		.logo {
			margin-bottom: 30px;
		}
		p {
			color: $color-blue;
			margin-bottom: 0;
		}
	}
	.footer-newsletter {
		h5 {
			color: $color-white;
			font-size: 24px;
			font-family: $basefont;
			font-weight: 500;
			margin-bottom: 20px;
			span {
				display: block;
			}
		}
		form {
			position: relative;
			input {
				height: 90px;
				background: $color-white;
				border-radius: 5px;
				width: 100%;
				color: $color-secondary;
				outline: none;
				box-shadow: none;
				border: 0;
				padding: 0 160px 0 20px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $color-secondary;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $color-secondary;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $color-secondary;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $color-secondary;
				}
			}
			button {
				cursor: pointer;
				outline: none;
				box-shadow: none;
				background: $color-red;
				border: 0;
				position: absolute;
				top: 20px;
				right: 20px;
				height: 50px;
				color: $color-white;
				font-size: 14px;
				font-weight: 500;
				border-radius: 5px;	
				padding: 0 20px;
			}
			p {
				color: #8e71b4;
				margin-top: 5px;
				margin-bottom: 0;
			}
		}
	}
}

@media all and (max-width: 991px) {
	.footer-top {
		.footer-newsletter {
			margin-top: 30px;
			max-width: 470px;
		}
	}
}

@media all and (max-width: 439px) {
	.footer-top {
		.footer-newsletter {
			form {
				input {
					height: 55px;
					margin-bottom: 20px;
				}
				button {
					position: static;
					padding: 0 30px;
				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	.footer-bottom {
		display: block;
		text-align: center;
		.backtotop {
			margin-top: 10px;
			display: inline-block;
		}
	}
}